@charset "UTF-8";

@font-face {
  font-weight: 800;
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Semibold.ttf");
}

.partner-form {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 754px;
  margin: 0 auto;
  padding: 53px 98px;
  background: #FFF;
  border-radius: 12px;
}

.partner-form__h1 {
  margin-top: 0;
  font-weight: 800;
  font-size: 28px;
  font-family: Montserrat, sans-serif;
}

.partner-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner-form__input-wrap {
  position: relative;
  margin-bottom: 32px;
}

.partner-form__label {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #6A6E72;
  font-size: 12px;
}

.partner-form__label_required::before {
  color: #D90000;
  content: "✱ ";
}

.partner-form__label_bold {
  font-weight: 700;
}

.partner-form__input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 16px;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #D6DADE;
  border-radius: 2px;
  outline: none;
}

.partner-form__input:focus {
  -webkit-box-shadow: 0 0 10px #6A6E72;
          box-shadow: 0 0 10px #6A6E72;
}

.partner-form__input_text-bottom {
  padding: 24px 16px 8px;
}

.partner-form__input_photo {
  position: relative;
  z-index: 10;
  height: 163px;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.partner-form__input_select-img {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/select-arrow.svg");
}

.partner-form__input_site {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/globe.svg");
}

.partner-form__input_vk {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/vk.svg");
}

.partner-form__input_ok {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/ok.svg");
}

.partner-form__input_fb {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/fb.svg");
}

.partner-form__input_insta {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/instagram.svg");
}

.partner-form__input_youtube {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/icons/youtube.svg");
}

.partner-form__main-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.partner-form__logo {
  width: 163px;
}

.partner-form__logo-input-wrap {
  position: relative;
  padding-top: 36px;
}

.no-webp .partner-form__photo{
  background-image: url("../img/avatar.png"); }

.partner-form__photo {
  position: absolute;
  top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 163px;
  height: 163px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.partner-form__file-icon {
  width: 30px;
  height: 30px;
}

.partner-form__file-text {
  margin: 0;
  padding-right: 40px;
  padding-left: 40px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.partner-form__icon-close {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.partner-form__button {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  color: #FFF;
  font-size: 16px;
  font-family: Lato, sans-serif;
  background-color: #E5266E;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.partner-form__button:focus {
  -webkit-box-shadow: 0 0 10px #6A6E72;
          box-shadow: 0 0 10px #6A6E72;
}

.partner-form__button:hover {
  background-color: rgba(229, 38, 110, 0.9);
}

.partner-form__cancel {
  color: #0848C0;
  text-align: center;
  cursor: pointer;
}

.partner-form__cancel:hover {
  text-decoration: underline;
}

.partner-form ._error {
  border: 1px solid #D90000;
}

.open-popup {
  display: block;
  width: 50%;
  margin: 100px auto;
  padding: 16px;
  color: #FFF;
  font-size: 16px;
  font-family: Lato, sans-serif;
  background-color: #E5266E;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.open-popup:focus {
  -webkit-box-shadow: 0 0 10px #6A6E72;
          box-shadow: 0 0 10px #6A6E72;
}

.open-popup:hover {
  background-color: rgba(229, 38, 110, 0.9);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #0C1014;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

@media (max-width: 768px) {
  .partner-form {
    padding: 30px 40px;
  }

  html,
  body {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .partner-form__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    margin-bottom: 16px;
  }

  .partner-form__input-wrap {
    margin-bottom: 16px;
  }
}

.webp .partner-form__photo{ background-image: url(../img/avatar.webp); }