@font-face {
	font-weight: 800;
	font-family: Montserrat;
	src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
	font-weight: 400;
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
	font-weight: 700;
	font-family: "PT Sans";
	src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
}

@font-face {
	font-weight: 600;
	font-family: Lato;
	src: url("../fonts/Lato/Lato-Semibold.ttf");
}
